<!-- Grid row -->
<section class="text-left my-5" style="padding-top:20px">
    <h2 class="h1-responsive font-weight-bold text-center my-5">{{producto.nombre}}</h2>    
    <!-- Section description -->
    <p class="text-justify w-responsive mx-auto mb-5">{{ producto.descripcion }}</p>
    <div class="row border border-light" style="padding:2%">
    
      <!-- Grid column -->
      <div class="col-md-6">
        <img [src]="producto.urlImagen" [alt]="producto.nombre" style="max-height: 400px;object-fit: contain;"/>        
      </div>
      <div class="col-md-6">
        <p class="text-justify">{{ producto.ficha }}</p>
        <button type="button" mdbBtn color="default" mdbWavesEffect>{{producto.precio|currency }}</button>
        <button (click)="comprar(producto.id)" type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Comprar</button>
      </div>
      <!-- Grid column -->
    </div>
</section>
  