<div class="row mb-5">
    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4" *ngFor="let card of productos; let cardIndex = index">
      <!-- Card -->
      <div class="card card-cascade wider card-ecommerce">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img [src]="card.urlImagen" class="card-img-top" [alt]="card.nombre" style="max-height: 200px;object-fit: contain;">
          <a>
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
        </div>
        <!-- Card image -->
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Category & Title -->
          <a href="" class="text-muted">
            <h5>{{card.nombre}}</h5>
          </a>
          <h4 class="card-title">
            <strong>
              <a href="">{{card.precio|currency}}</a>
            </strong>
          </h4>
          <!-- Description -->
          <p class="card-text">{{card.descripcion}}</p>
          <!-- Card footer -->
          <div class="card-footer px-1">
            <span class="float-right">
              <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                <i class="far fa-eye grey-text ml-3"></i>
              </a>
              <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                <i class="far fa-heart grey-text ml-3"></i>
              </a>
            </span>
            <button (click)="verDetalle(card.id)" type="button" class="btn btn-outline-primary">Ver más...</button>
          </div>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->
</div>